<div class="col-md-4 col-md-offset-4">
    <h3 style="text-align: center">Hello {{userName}} <button class="btn btn-danger" (click) = "logOut()">Logout?</button> </h3>
    <h2 style="text-align: center">List of users </h2> 
</div>

<div  class="col-md-7 col-md-offset-4">
  <table ng-deselect>
      <thead>
        <th class="text-center">
            Id  
        </th>      
        <th class="text-center" >Username</th>  
        <th class="text-center" >Pass</th>  
        <th class="text-center" >Firstname</th>  
        <th class="text-center" >Lastname</th>  
        <th class="text-center">
            Action
          </th>          
      </thead>
      <tbody  *ngFor="let userItem of users; let i= index;">
        <tr (click)= "onSelect(userItem)" #ival> 

          <td> {{userItem.id}}</td>         
          <td class="text-center">
              {{userItem.username}}
          </td>
          <td class="text-center">
            {{userItem.password}}
            </td>
          <td class="text-center">
              {{userItem.firstname}}
          </td>
          <td class="text-center">
            {{userItem.lastname}}
          </td>
          <td>
              <input type="button" class="btn btn-danger" value="Delete" (click)="deleteUserItem(this.userItem.id)" [routerLink]="['/home']"/>          
          </td>
        </tr>             
      </tbody> 
  </table>
</div>

<div *ngIf="selectedUser" class="col-md-7 col-md-offset-4">
  <h2>User: {{selectedUser.firstname}} information</h2>
    <form [formGroup]="formGroupUserUpdate" novalidate >
      <label>
          Username:         
      </label>
      <input style="width: 51%" class="form-control" type="text" placeholder="{{selectedUser.username}}" formControlName="username" value="username" required />
      <label>
          Password:          
      </label>
      <input style="width: 51%" class="form-control" type="text" placeholder="{{selectedUser.password}}" formControlName="password" value="password" required/>
      <label>
          Firstname: </label>
          <input style="width: 51%" class="form-control" type="text" placeholder="{{selectedUser.firstname}}" formControlName="firstname" value="firstname" required/>
      <label>
          Lastname:         
      </label>
      <input style="width: 51%" class="form-control" type="text" placeholder="{{selectedUser.lastname}}" formControlName="lastname" value="lastname" required/>
      
      <p><input type ="button" class="btn btn-success" value="{{ value }}" (click)="updateUserItem(this.formGroupUserUpdate.value)"/></p>
  </form>
</div>