h1{
    text-align: center;
    color: green;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 16px;
    text-align: center;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

div{
    padding: 30px;
}

::placeholder{
  color: gray;
}